* {
  margin: 0;
  padding: 0;
  font-family: "MuseoModerno", cursive;
}
body {
  background-image: url(/images/website-background.jpg);
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
  margin: 30px 0;
  border-radius: 100%;
  border: 1px solid white;
  box-shadow: 5px 5px 9px red;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul li a:hover {
  background: transparent;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 9px red;
  border: 3px solid white;
}

nav ul li a.active {
  background: transparent;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 9px red;
  border: 3px solid white;
}

.hero {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
  text-shadow: 5px 5px 9px orange;
  text-decoration: underline white;
}

.hero h2 {
  color: orange;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 7px;
  text-shadow: 5px 5px 9px rgb(226, 70, 23);
  text-decoration: underline white;
}
.hero p {
  color: rgb(226, 23, 23);
  margin-bottom: 7px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 9px rgb(226, 23, 23);
}
button {
  padding: 10px 10px;
  width: 170px;
  border: 2px solid white;
  border-radius: 50px;
  color: lawngreen;
  background: transparent;
  box-shadow: 5px 5px 9px orange;
  font-size: 18px;
}
button:hover {
  background: orange;
  color: white;
  font-size: 19px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin: 100px 0;
  flex-direction: row;
}

.col-1 {
  flex-basis: 40%;
  position: relative;
  left: 50px;
  margin: 50px;
}

.col-1 h2 {
  font-size: 54px;
  color: lightskyblue;
  text-shadow: 5px 5px 5px white;
}
.col-1 h3 {
  font-size: 30px;
  color: lightseagreen;
  font-weight: 100;
  margin: 20px 0 10px;
}

.col-1 p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 5px 5px 9px lightblue;
}

.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
  color: lightsalmon;
}

.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(white, red, white);
  position: absolute;
  left: -40px;
  top: 8px;
}

.col-2 {
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.col-2 .car {
  width: 400px;
  border-radius: 10px;
  box-shadow: 8px 8px 10px lightblue;
}

.col-2 .car:hover {
  box-shadow: 0px 0px 10px 10px lightblue;
}

.social-links img {
  height: 25px;
  margin: 20px;
  cursor: pointer;
}

.social-links {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: rgb(0, 0, 0.5);
    opacity: 0.7;
    position: absolute;
    top: 120px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: white;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }
  .row {
    flex-direction: column;
    margin: 50px 0;
  }

  .col-2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-2 .car {
    width: 77%;
  }

  .col-1 {
    flex-basis: 100%;
  }
  .col-1 h2 {
    font-size: 35px;
  }
  .col-1 h3 {
    font-size: 15px;
  }
}

footer {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 9px;
}

/* About section */
.heading-1 {
  color: #ff6062;
  font-size: 55px;
}

.labels {
  display: inline-block;
  width: 150px;
  margin-top: 10px;
  color: lightseagreen;
}

table {
  color: lightseagreen;
}

.btn {
  background: transparent;
  width: 0px;
}

.feedback {
  width: 80%;
  margin: auto;
  padding: 100px;
}

h1 {
  font-size: 36px;
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: left;
}

img {
  border-radius: 10px;
  display: inline-block;
}

.column {
  float: left;
  padding: 10px;
  width: 33.33%;
}

h4 {
  color: lightblue;
  font-size: 19px;
  text-align: left;
}

h2 {
  text-align: left;
}
